@import "~bootstrap/dist/css/bootstrap.css";
button{
    margin-top: 10px;
}
#form-control{
    border: 0;
    background: transparent;
    outline-offset: 0;
}
#replace_alert{
    text-align: center;
    max-width: 500px;
    height: 200px;
    margin: auto;
    padding:50px;
    background: rgba(0, 0, 0, 0.082);
    border-radius: 20px;
    display: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
 }
 
  li{
      list-style-type: none;
      padding-bottom: 10px;
      padding-top: 10px;
      border-bottom: solid rgba(0, 0, 0, 0.182) 1px;
      margin-right: 80px;
  }
   p{
      font-weight: bold;
      text-transform: capitalize;
    }
    .wrapper{
        background-color:white;
        background-image: none;
        /* position: relative; */
        min-height: 100vh;
        width: 100%;
    }
    html,body{height: 100%}
    

